body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black; /* Colore di sfondo */
    font-family: 'Montserrat', sans-serif; /* Font di default */
}

.contenitore-centrale {
    text-align: center;
    color: white; /* Colore del testo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Aggiunge un po' di spazio intorno al contenuto per evitare che tocchi i bordi dello schermo */
}

.pag h1, .pag h2 {
    margin: 0 auto; /* Centra i testi */
    padding: 0 5%; /* Aggiunge un po' di spazio ai lati per non toccare i bordi */
    color: #FFF; /* Colore del testo */
    word-wrap: break-word; /* Assicura che il testo non esca dallo schermo */
}

.pag h1 {
    font-family: 'Dancing Script', cursive; /* Font per il titolo */
    font-size: 4em; /* Riduci leggermente la dimensione per migliorare la visibilità su dispositivi mobili */
}

.pag h2 {
    font-family: 'Satisfy', cursive; /* Font per la firma */
    font-size: 2em; /* Riduci leggermente la dimensione per dispositivi mobili */
    text-align: right;
}

/*VISUALIZZAZIONE DA LAPTOP*/
@media (max-width: 1200px) {


}


/*VISUALIZZAZIONE DA TABLET*/
@media (max-width: 980px) { 


}



/*VISUALIZZAZIONE DA MOBILE ORIZZONTALE*/
@media (max-width: 767px) {


}




/*VISUALIZZAZIONE DA MOBILE VERTICALE*/
@media (max-width: 480px) {


}

    .pag h1 {
        font-size: 2em; /* Riduci ulteriormente la dimensione del font per dispositivi molto piccoli */
    }
    .pag h2 {
        font-size: 1.5em; /* Adatta la dimensione del font per la firma */
    }
}
